{% extends 'work_website/base.html' %}
{% load static %}
{% block content %}

    <main class="about-main-content">
        <section class="about-page-left">
            <div class="skill-container">
                <span class="skill-name"><img src="{% static 'images/python.png' %}"></span>
                <div class="skill-bar">
                    <div class="skill-level" data-skill-level="8.5"></div>
                </div>
            </div>
            <div class="skill-container">
                <span class="skill-name "><img src="{% static 'images/django.png' %}"> </span>
                <div class="skill-bar django">
                    <div class="skill-level" data-skill-level="8.5"></div>
                </div>
            </div>
            <div class="skill-container">
                <span class="skill-name"><img src="{% static 'images/js.png' %}"></span>
                <div class="skill-bar">
                    <div class="skill-level" data-skill-level="6"></div>
                </div>
            </div>
            <div class="skill-container">
                <span class="skill-name"><img src="{% static 'images/html.png' %}"><img src="{% static 'images/css.png' %}"></span>
                <div class="skill-bar">
                    <div class="skill-level" data-skill-level="7"></div>
                </div>
            </div>
            <div class="diplome-container">
                <span class="diplome"><img src="{% static 'images/diplome.png' %}" class="diplome"></span>
                <div class="diplome-info">
                    <h3>Développeur d'application Python/Django</h3>
                    
                    <span>Niveau 6 (Bac +3)</span>
                </div>
            </div>

        </section>
        <section class="about-page-right page-animation-container">
            <div class="about-description page-circleBehind container">
                <h1 class="about-title">À propos</h1>
                <p class="about-description">
                    Récemment diplômé d'une licence en "Développement Logiciel Python/Django" chez OpenClassrooms,  
                    j'ai acquis une solide maîtrise des principes de développement modernes, assurant une cohésion fluide entre le Back-end, le Front-end et les bases de données,  
                    pour garantir une architecture performante et harmonieuse.  
                    J'attache une grande importance à écrire un code propre, scalable et maintenable, pour garantir des applications fiables et performantes.  
                </p>
                <p class="about-description">Ce que je vous propose :</p>
                <ul class="about-description">
                    <li>Développement d'API sur mesure.</li>
                    <li>Solutions complètes de CRM et logiciels de bureau, parfaitement adaptées à vos processus métier.</li>
                    <li>Méthodologie de TDD et de pipeline CI/CD.</li>  
                    <li>Compétences en résolution de problèmes et capacité à livrer des projets dans les délais impartis.</li>  
                </ul>
                <p class="about-description">Travaillons ensemble pour concrétiser vos idées et apporter des solutions efficaces à votre entreprise !</p>
            </div>
        </section>

    </main>

<script src="{% static 'js/about.js' %}" defer></script>
{% endblock content%}