<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" 
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="{% static 'js/main.js' %}" defer></script>
    

    <title>Edwin Thierry</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="nav-bar-left">
                <a href="{% url 'index' %}" class="nav-home fancy-link">Home</a>
                <a href="{% url 'about' %}" class="fancy-link">About</a>
                <a href="{% url 'contact' %}" class="fancy-link">Contact</a>
            </div>
                <div class="nav-bar-right container-link animation-link circleBehind">
                <a href="https://github.com/Thierry-Edwin/Openclassroom_Projects_Portfolio" ><img class="logo" src="{% static 'images/github.png' %}"></a>
                <a href="https://www.linkedin.com/in/edwin-thierry-28a047310/"><img class="logo" src="{% static 'images/linkeded.png' %}"></a>
            </div>
        </nav>
    </header>
    {% block content %}{% endblock content %}
</body>
</html>