{% extends 'work_website/base.html' %}
{% load static %}
{% block content %}
    <main class="contact-main-content">
        <section class="contact-container page-animation-container">
            <div class="contact page-circleBehind">
                <h2>Contactez moi...</h2>
                <div class="contact-content">
                    <img src="{% static 'images/email.png' %}"><a href="mailto:edwinthierry17@gmail.com">edwinthierry17@gmail.com</a>  
                </div>
                <div class="contact-content">
                    <img src="{% static 'images/telephone.png' %}"><span>06.81.40.13.17</span>    
                </div>
            </div>
        </section>
        <section class="contact-form-container">
            {% include 'work_website/modal.html' %}
            <div class="form-title">
                <h2>Où laissez un message.</h2>
            </div>
            <form class="contact-form" action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Titre :</label>
                    <input type="text" id="title" name="title" placeholder="Entrez le titre" required value="{{ form.title.value|default:'' }}">
                    <!-- Ceci rend le champ "title" du formulaire Django -->
                    {% if form.title.errors %}
                        <div class="error">{{ form.title.errors }}</div>
                    {% endif %}
                </div>
                
                <div class="form-group">
                    <label for="email">Votre contact :</label>
                    <input type="email" id="email" name="email" placeholder="Yourmail@example.com" required value="{{ form.email.value|default:'' }}">
                    <!-- Ceci rend le champ "email" du formulaire Django -->
                    {% if form.email.errors %}
                        <div class="error">{{ form.email.errors }}</div>
                    {% endif %}
                </div>
                
                <div class="form-group">
                    <label for="message">Message :</label>
                    <textarea id="message" name="message" rows="5" placeholder="Entrez votre message ici" required>{{ form.message.value|default:'' }}</textarea>
                    <!-- Ceci rend le champ "message" du formulaire Django -->
                    {% if form.message.errors %}
                        <div class="error">{{ form.message.errors }}</div>
                    {% endif %}
                </div>
            
                <div class="form-group">
                    <button type="submit" class="submit-btn">Envoyer</button>
                </div>
            </form>
                
        </section>
        
    </main>

<script src="{% static 'js/contact.js' %}" defer></script>
{% endblock content %}