{% extends 'work_website/base.html' %}
{% load static %}
{% block content %}

<main class="index-main-content">
    <section class="page-animation-container left-page">
        <div class="presentation-container page-circleBehind container">
            <div class="presentation-name  ">
                <h2>Edwin Thierry</h2>
            </div>
            <div class="presentation-subtitle">
                <p>Développeur BackEnd</p>
            </div>
            <div class="presentation-content">
                <p>Architecte de solution numérique,<br>
                spécialisé en Python & Django.<br>
                Transformons vos idées en solutions robustes et innovante.<br>
                </p>
        </div>
            
        </div>
    </section>
    <section class="carousel-section ">
        <div class="carousel-container ">
            <div class="box-carrousel">
                <img src="{% static 'images/Litrevu_screen.png' %}">
                <div class="overlay-text">
                    <a class="fancy-link" target="_blank" href="https://github.com/Thierry-Edwin/Openclassroom_Projects_Portfolio/tree/main/07_2024_Web_application_Django" >User interface</a>
                </div>
                </div>
            <div class="box-carrousel active">
                <img src="{% static 'images/profile_photo_recadre.jpg' %}">
                <div class="overlay-text">
                    <a class="fancy-link" target="_blank" href="https://github.com/Thierry-Edwin/Openclassroom_Projects_Portfolio"> 
                    Découvrez <br>
                    mes <br>
                    projets</a>
                </div>
            </div>
            <div class="box-carrousel">
                <img src="{% static 'images/api_screen_doc.png' %}">
                <div class="overlay-text">
                    <a class="fancy-link" target="_blank" href="https://github.com/Thierry-Edwin/Openclassroom_Projects_Portfolio/tree/main/08_2024_Secure_API_RESTful_Django_REST">Secure API</a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}